<% if user_signed_in? %>
<%= render 'layouts/navbar1' %>
<% else %>
<%= render 'layouts/navbar' %>
<%end%>

<p id="notice"><%= notice %></p>
<div class="jumbotron bg-transparent">

<div>

  <div class="col center-block" align="center">

    <h1 class="display-4 text-dark">Swapr.</h1>

    <p class="lead text-muted">Your one-stop spot to swap.</p>

  </div>

  <hr class="my-4">

  <div class="col center-block" align="center">

          <div>

                    <% if user_signed_in? %>

                        <p class="text-muted">Browse the listings or contribute to the blog</p>

                        <div class="btn-group">

                            <%= link_to 'Listings', listings_path, :class => 'btn btn-outline rounded-pill btn-lg mr-3' %>

                            <%= link_to 'Blog', blog_path, :class => 'btn btn-outline rounded-pill btn-lg mr-3' %>

                        </div>

                        <% else %>

                   <p class="text-muted">Log in  or Sign up to continue.</p>

                        <div class="btn-group">

                            <%= link_to 'Sign up', new_user_registration_path, :class => 'btn btn-outline rounded-pill btn-lg mr-3' %>

                            <%= link_to 'Log in', new_user_session_path, :class => 'btn btn-outline rounded-pill btn-lg ml-3' %>

                        </div>

                <% end %>

          </div>

        </div>

    </div>

</div>