<% if user_signed_in? %>
<%= render 'layouts/navbar1' %>
<% else %>
<%= render 'layouts/navbar' %>
<%end%>

<p id="notice"><%= notice %></p>

<h3 style="text-align:center;">Blog</h3>

<% if user_signed_in? %>
<div style="text-align:center;">
<%= link_to 'New Post', new_post_path %>
</div>
<% end %>

<br/>
<br/>

<%= render 'layouts/postList'%>
