<% if user_signed_in? %>
<%= render 'layouts/navbar1' %>
<% else %>
<%= render 'layouts/navbar' %>
<%end%>

<p id="notice"><%= notice %></p>

<br/>

<div class="container mr-5 ml-5">

<h3 style="text-align:center;">Blog Post</h3>

<%= render 'layouts/postDisplay'%>

<br/>

<% if current_user != @post.user %>
<div style = 'text-align: center;'>
<%= link_to 'comment', comment_path %>

<br/>
<br/>

<%= link_to 'Back', blog_path %>
</div>
<% else %>

<br/>
<br/>
<div style = 'text-align: center;'>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
<br/>
<%= link_to 'Back', blog_path %>
</div>
<% end %>

</div>
