<% if user_signed_in? %>
<%= render 'layouts/navbar1' %>
<% else %>
<%= render 'layouts/navbar' %>
<%end%>

<p id="notice" class = "ml-5 mr-5"><%= notice %></p>

<h3 style="text-align:center;">Listings</h3>

<% if user_signed_in? %>
<div style="text-align:center;">
<%= link_to 'Add a Listing', new_product_path %>
</div>
<% end %>

<br/>
<br/>

<%= render 'layouts/productList'%>
