<% if user_signed_in? %>
<%= render 'layouts/navbar1' %>
<% else %>
<%= render 'layouts/navbar' %>
<%end%>

<p id="notice"><%= notice %></p>

<%= render 'layouts/productList'%>

<br>

<% if user_signed_in? %>
<%= link_to 'New Product', new_product_path %>
<% end %>
