<% if user_signed_in? %>
<%= render 'layouts/navbar1' %>
<% else %>
<%= render 'layouts/navbar' %>
<%end%>

<p id="notice"><%= notice %></p>

<%= render 'layouts/productDisplay'%>

<%= link_to 'Make Offer', new_offer_path(@product) %>

<br/>
<br/>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
